@*@using ViewsExample.Models  // ne treba posto smo stavili u _ViewImports*@
@model IEnumerable<Person>


@*ako ne stavimo functions onda je local function u suprotnom je method*@
@*@functions{}*@
@{
    //method
    double? GetAge(DateTime? dateOfBirth)
    {
        if (dateOfBirth is not null)
        {
            return Math.Round((DateTime.Now - dateOfBirth.Value).TotalDays / 365.25);
        }
        else
        {
            return null;
        }
    }

    //string alertMessage = $"<script>alert('{people.Count} people found')</script>";
}

<!DOCTYPE html>
<html>
    <head>
        @*<title>@ViewData["pageTitle"]</title>*@
    <title>@ViewBag.pageTitle</title>
        <meta charset="utf-8" />
        <link href="~/StyleSheet.css" rel="stylesheet"/>
    </head>
    <body>
    <div class="page-content">
            @*@Html.Raw(alertMessage)*@
            <h1>Persons</h1>
            @*<h2>Hello @person.Name</h2>
            @{
            double age = Math.Round((DateTime.Now - person.DateOfBirth).TotalDays / 365.25);
            }
            <h3>@age years old</h3>
            @switch (person.PersonGender)
            {
            case Gender.Male:
            <p>November 19 is International Men's Day</p>
            ;
            break;
            case Gender.Female:
            <p>March 8 is International Women's Day</p>
            ;
            break;
            case Gender.Other:
            <p>March 31 is International Transgenders's Day</p>
            ;
            break;
            }*@
            @{
                //zato sto je object type moramo typecast to List
                //List<Person>? people = (List<Person>?)ViewData["people"];
                // typecast - ne treba kad koristimo ViewBag
                @foreach (Person person in Model) //ViewBag.people umjesto Model(model koristimo kad ubacimo @model)
                // u Modelu je data iz people => return View(people);
                //@for (int i = 0; i < 3; i++)
                {
                    //@:Hello to @*static literals*@
                    //<text>Hello again</text> @*static literals*@
                    <div class="box float-left w-50">
                        <h3>@person.Name</h3>
                        <table class="table w-100">
                            <tbody>
                                <tr>
                                    <td>Gender</td>
                                    <td>@person.PersonGender</td>
                                </tr>
                                <tr>
                                    <td>Date of Birth</td>
                                    <td>@person.DateOfBirth?.ToString("MM/dd/yyyy")</td>
                                </tr>
                            </tbody>
                        </table>
                        <a href="/person-details/@person.Name">Details</a>
                        
                    </div>
                }
            }
            <div>
                <a href="/person-with-product">Person With Product</a>
            </div>
        </div>
   
    </body>
</html>






